@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --shadow-color: #5f327e;
    --accent-color: #8e71a8;
    --hover-color: #ac8bc9;
    --secondary-color: #c8a1e0;
    --lavender: #e2bfd9;
    --background: #fff;
    --hover-white: #f5f5f5;
    --shadow-black: #2f2f2f;
    --plus-yellow: #e9b259;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-items: center;
}
  
.nav__logo {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-items: center;
}
    
.nav__logo__image {
    height: 40px;
    width: 40px;
    margin-right: 5px;
    margin-bottom:  5px;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}
    
.nav__logo__title {
    font-size: 2rem;
    color: var(--accent-color);
    font-family: Arial, Helvetica, sans-serif;
}

.nav__title__span {
    color: var(--secondary-color);
}

.nav__actions {}
    
.nav__button {
    display: block;
    color: var(--background);
    font-family: "Mulish", sans-serif;
    letter-spacing: 0.75px;
    font-weight: 800;
    font-size: 15px;
    background-color: var(--accent-color);
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border-style: none;
    line-height: 0.45;
}

.nav__button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.profile__setup {
    display: flex;
    margin-top: 20px;
    flex-direction:column;
    font-family: "Mulish", sans-serif;
    color:  #000;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.75px;
    background-color: var(--background);
    border-radius: 10px;
}

.setup__input {    
    transition: border 0.2s ease-in-out;
    font-family: "Mulish", sans-serif;
    color:  #000;
    font-size: 17px;
    padding: 0px 12px;
    font-weight: 700;
    letter-spacing: 0.75px;
    width: 400px;
    height: 40px;
    background-color: var(--background);
    border: rgb(229 229 229) solid 2px;
    border-radius: 10px;
    outline: none;
}

.setup__input:focus-visible {
    background-color: var(--background);
    border: var(--accent-color) solid 2px;
}

.profile__setup__page {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.page__title {
  font-family: "Mulish", sans-serif;
  color:  #000;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.setup__button {
   font-family: "Mulish", sans-serif;
   color:  #fff;
   font-size: 17px;
   font-weight: 700;
   letter-spacing: 0.75px;
   width: 400px;
   height: 40px;
   border-radius: 10px;
   border: none;
   background-color: var(--accent-color);
}

.setup__button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}