@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --shadow-color: #5f327e;
    --accent-color: #8e71a8;
    --hover-color: #ac8bc9;
    --secondary-color: #c8a1e0;
    --lavender: #e2bfd9;
    --background: #fff;
    --hover-white: #f5f5f5;
    --shadow-black: #2f2f2f;
    --plus-yellow: #e9b259;
}

body {
    background-color: var(--background);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mulish", sans-serif;
    letter-spacing: 0.75px;
    font-weight: 800;
    text-decoration: none;
}

footer {
  margin-inline: auto;
  text-align: center;
  padding-block: 2rem;
  background-color: #efefef;
  color: #888;
}

footer ol {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0;
  font-size: .85rem;
  margin-block: 2rem 1.5rem;
}

footer a {
  text-decoration: none;
  color: #888;
}


